{% extends 'base/main.html' %}
{% block title %}عن البرنامج{% endblock title %}
{% block main %}

<div class='d-flex text-end justify-content-center align-items-center' style='height:90vh;'>
    <div style='width:fit-content;'>
        <h6>وزارة الدفاع</h6>
        <h6>الترسانة البحرية</h6>
        <h6>مركز التدريب</h6>
        <h6>برنامج ادارة طلبات الالتحاق</h6>
        <p>الاصدار 1.0</p>
        <p>createdby: 
            <a target='_' href="https://ahmed-saied.herokuapp.com">Ahmed Saied</a>
            <a target='_' href="">Mobile</a>
            <a target='_' href="mailto:ahmed.saeed311294@gmail.com">E-mail</a>
        </p>

    </div>
</div>

{% endblock main %}