{% extends 'base/main.html' %}
{% block title %}{{ student.name }}{% endblock %}
{% block main %}

<div style='direction:rtl;'>
    <div class='d-flex flex-wrap justify-content-between align-items-center py-5'>
        <h1>الطالب {{ student.name }}</h1>
        <img class='rounded' src="{{ student.student_pic.url }}" alt="{{ student.name }}" style='width:150px; height:150px;'>
        <div class='d-flex flex-column'>
            <a href="{% url 'add-student' %}" class='btn btn-primary'>اضافة طالب جديد</a>
            <a href='{{ student.get_update_url }}' class='btn btn-success my-1'>تعديل بيانات الطالب</a>
            {% comment %} <a href='{{ student.get_delete_url }}' class='btn btn-danger mb-1'>حذف بيانات الطالب</a> {% endcomment %}
            <button class='btn btn-danger mb-1' onclick="delMod('show')" data-bs-toggle="modal" data-bs-target="#model-con">حذف الطالب</button>
            <button class='btn btn-warning' id='printBtn'>طباعة بيانات الطالب</button>
        </div>
    </div>
    <div>
        {% comment %} <h3>البيانات الشخصية</h3> {% endcomment %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan='4'>البيانات الشخصية</th>
                </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <td>رقم الملف</td>
                <td>{{ student.file_no }}</td>
                <td>المجموعة</td>
                <td>{{ student.group }}</td>
              </tr>
              <tr class="">
                <td>الدفعة</td>
                <td>{{ student.batch }}</td>
                <td>تاريخ الميلاد</td>
                <td>{{ student.birthdate }}</td>
              </tr>
              <tr class="table-light">
                <td>الديانة</td>
                <td>{{ student.religion }}</td>
                <td>محل الميلاد</td>
                <td>{{ student.birthplace }}</td>
              </tr>
              <tr class="">
                <td>العنوان</td>
                <td>{{ student.address }}</td>
                <td>الجنسية</td>
                <td>{{ student.nationality }}</td>
              </tr>
              <tr class="table-light">
                <td>سنة اتمام الشهادة الاعدادية</td>
                <td>{{ student.junior_cert_year }}</td>
                <td>مجموع الشهادة الاعدادية</td>
                <td>{{ student.junior_cert_total }}</td>
              </tr>
              <tr class="">
                <td>جهة صدور الشهادة الاعدادية</td>
                <td>{{ student.junior_cert_place }}</td>
                <td>اسم ولي الامر</td>
                <td>{{ student.guardian }}</td>
              </tr>
              <tr class="table-light">
                <td>صلة قرابة ولي الامر</td>
                <td>{{ student.guardian_rel }}</td>
                <td>رقم هاتف ولي الامر</td>
                <td>{{ student.guardian_phone }}</td>
              </tr>
              <tr class="">
                <td>الرقم القومي</td>
                <td>{{ student.national_id }}</td>
              {% if student.rel %}
                  <td>تابع لـ</td>
                  <th>{{ student.rel_to }}</th>
              {% endif %}
            </tr>

            </tbody>
          </table>
    </div>

    <div class='my-4'>
        {% comment %} <h3>تقييمات اللجنة</h3> {% endcomment %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan='4'>تقييمات اللجنة</th>
                </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <td colspan='2'>تقييم رثيس اللجنة</td>
                <td colspan='2'>{{ student.committee_eval.committee_chairman }}/5</td>
              </tr>
              <tr class="">
                <td>تقييم العضو الاول</td>
                <td>{{ student.committee_eval.first_member }}/5</td>
                <td>تقييم العضو الثاني</td>
                <td>{{ student.committee_eval.second_member }}/5</td>
              </tr>
              <tr class="table-light">
                <td>تقييم العضو الثالث</td>
                <td>{{ student.committee_eval.third_member }}/5</td>
                <td>تقييم العضو الرابع</td>
                <td>{{ student.committee_eval.forth_member }}/5</td>
              </tr>
              <tr class="">
                <td>التقييم النهائي</td>
                <td>{{ student.committee_eval.total }}/25</td>
                <td>النتيجة</td>
                <td class="{% if student.committee_eval.result == 'لائق' %}text-success{% else %}text-danger{% endif %}">{{ student.committee_eval.result }}</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div>
        {% comment %} <h3>درجات الطالب</h3> {% endcomment %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan='4'>درجات الطالب</th>
                </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <td>اللغة العربية</td>
                <td>{{ student.student_grades.arabic }}/5</td>
                <td>الرياضيات</td>
                <td>{{ student.student_grades.math }}/5</td>
              </tr>
              <tr class="">
                <td>العلوم</td>
                <td>{{ student.student_grades.science }}/5</td>
                <td>الدراسات الاجتماعية</td>
                <td>{{ student.student_grades.social_studies }}/5</td>
              </tr>
              <tr class="table-light">
                <td>اللغة الانجليزية</td>
                <td>{{ student.student_grades.english }}/5</td>
                <td>الاملاء</td>
                <td>{{ student.student_grades.spelling }}/5</td>
              </tr>
              <tr class="">
                <td colspan='2'>الحاسب الالي</td>
                <td colspan='2'>{{ student.student_grades.computer }}/5</td>
              </tr>
              <tr class="table-light">
                <td>المجموع النهائي</td>
                <td>{{ student.student_grades.total }}/35</td>
                <td>النتيجة</td>
                <td class="{% if student.student_grades.result == 'ناجح' %}text-success{% else %}text-danger{% endif %}">{{ student.student_grades.result }}</td>
              </tr>
            </tbody>
          </table>
            <div class="modal" id="model-con">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>هل انت متاكد من رغبتك في حذف الطالب؟</p>
                  </div>
                  <div class="modal-footer">
                    <a href='{{ student.get_delete_url }}' class="btn btn-danger">تاكيد الحذف</a>
                    <button onclick="delMod('hide')" type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>

{% endblock main %}
{% block extra_body %}
<script>
var printBtn = document.getElementById('printBtn')
printBtn.addEventListener('click', () => window.print())
{% comment %} var dmodel = $('#model-con')
var delMod = state => {
  console.log(state)
  if (state === 'show') dmodel.css('display', 'block')
  else if (state === 'hide') dmodel.css('display', 'none')
} {% endcomment %}
</script>
{% endblock extra_body %} 
