{% extends 'base/main.html' %}
{% block title %}الطلاب{% endblock title %}
{% block extra_head %}
    <style>
        #student{
            transition: all linear 0.3s;
        }
        #student:hover{
            transform: scale(1.1);
        }
    </style>
{% endblock extra_head %}
{% block main %}
<div style='direction:rtl;'>
    <form class='d-flex py-5' action="{% url 'students' %}" method='GET' enctype="multipart/form-data">
        <div class="form-group ms-3">
            <select name='city' class="form-select" id="city">
                <option value="" disabled selected>اختر محافظة</option>
                <option value="الكل">الكل</option>
                <option value="الاسكندرية">الاسكندرية</option>
                <option value="البحيرة">البحيرة</option>
                <option value="كفرالشيخ">كفر الشيخ</option>
                <option value="الشرقية">الشرقية</option>
                <option value="الغربية">الغربية</option>
                <option value="المنوفية">المنوفية</option>
                <option value="الدقهلية">الدقهلية</option>
                <option value="القليوبية">القليوبية</option>
                <option value="دمياط">دمياط</option>
            </select>
          </div>
          <div class="form-group mx-3">
            <select name='result' class="form-select" id="result">
                <option value="" disabled selected>اختر نتيجة</option>
                <option value="الكل">الكل</option>
                <option value="ناجح">ناجح</option>
                <option value="راسب">راسب</option>

            </select>
          </div>
          <div class="form-group mx-3">
            <select name='sort' class="form-select" id="sort">
                <option value="" disabled selected>ترتيب</option>
                <option value="بدون">بدون</option>
                <option value="الاعلى درجات">الاعلى درجات</option>
                <option value="الاقل درجات">الاقل درجات</option>
                <option value="ا - ي">ا - ي</option>
                <option value="ي - ا">ي - ا</option>
                <option value="رقم الملف">رقم الملف</option>
            </select>
          </div>
          <input type="submit" class="btn btn-primary mx-3" value="تصفية">
    </form>
</div>
<div class='d-flex justify-content-center align-items-center py-5' style='direction:rtl;'>
    {% if students|length > 0 %}
        {% for student in students %}
            <div id='student' class="card mb-3 mx-2 align-self-stretch" style='max-width:300px'>
                <h4 class="card-header">{{ student.name }}</h4>
                <div class="card-body">
                <h5 class="card-title">رقم الملف: {{ student.file_no }}</h5>
                <h6 class="card-subtitle text-muted">ولي الامر: {{ student.guardian }}</h6>
                </div>
                <img style='max-height:150px;' src="{{ student.student_pic.url }}" alt="{{ student.name }}">
                <div class="card-body">
                <p>{{ student.address }}</p>
                </div>

                <div class="card-body">
                <a href="{{ student.get_absolute_url }}" class="btn btn-primary">عرض</a>
                <a href="{{ student.get_update_url }}" class="btn btn-success">تعديل</a>
                <a href="{{ student.get_delete_url }}" class="btn btn-danger">حذف</a>
                </div>
            </div>
        {% endfor %}   
    {% else %}
        <h2>لا يوجد طلاب</h2>
    {% endif %}


</div>

{% endblock main %}